<form (ngSubmit)="addToList()" #shoppingForm="ngForm">
	<div class="form-group">
		<label for="type">Item type:</label>
		<input type="text"
				name="type"
				[(ngModel)]="item.type"/>
	</div>
	<div class="form-group">
		<label for="count">Count:</label>
		<input type="number"
				name="count"
				minimum="0"
				[(ngModel)]="item.count"/>
	</div>
	<div class="form-group">
		<label for="price">Price:</label>
		<input type="number"
				name="price"
				step="0.01" minimum="0"
				[(ngModel)]="item.price"/>
	</div>
	<button class="btn btn-secondary" type="submit">Add</button>
</form>